/* CSS by Wallan */
button#ins_event{
    margin: 0 0 0 42.5%;
}

section#secao_login{
    margin: 2% 0px 2% 0px;
}

div#coluna_ONE input{
    margin: 0 5% 0 0;
    width: 70%;
}

div#coluna_ONE{
    float: left;
}

div#coluna_ONE{
    width: 40%
}

div#coluna_TWO{
    margin: 5% 10% 0 0;
}

h3{
    margin: 5% 0 5% 10%;
}

div#coluna_ONE input#ssss {
    margin-top: 8%;
}

button#fim{
    margin: 5% 0 0 25%; 
}

/* Estilização para os formulários */
.campo_form {
    margin: 20px 0px 1%;
    background-color: silver;
}
#container_nomesobrenome {
   margin-bottom: 2%;
   
}